form {
    /*border: 3px solid #f1f1f1;*/
    width:25%;
    height: 50%;
    
    display: inline-block;
    background-color: transparent;
}

body,div {
    text-align: center;
}

html{
    background: url("background2.jpg") no-repeat center fixed;
    background-size: cover;
}


body,div > * { text-align: left; }

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    background-color: rgb(47,79,79);
    display: block;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: .5;
}

a{
    background-color: rgb(47,79,79);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    opacity: .5;

}



/* Transparencia del boton y enlace*/
button:hover {
    opacity: 0.8;
}

a:hover {
    opacity: 0.8;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img.avatar {
    width: 15%;
    height: 30%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}




/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}